{# templates/wild/show.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}{{ category }}{% endblock %}

{% block body %}

    <h1>List for the last 3 programs of category "<strong>{{ category }}</strong>"</h1>
    {% for program in programs_by_cat %}
        <div class="media">
            <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
            <div class="media-body">
                <h1 class="mt-0">[{{ program.id }}] {{ program.title }}</h1>
                <p>{{ program.synopsis }}</p>
            </div>
        </div>
    {% endfor %}

    <a href="{{ path('wild_index') }}">
        Retour à l'accueil
    </a>

{% endblock %}
