{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
    <h1>Toutes les séries de la table program : </h1>

    {# Search form #}
    {{ form_start(search_form) }}
        <div class="row">
            <div class="col-6">
                {{ form_row(search_form.searchField) }}
                <button type="submit" name="btnSearch">Rechercher</button>
            </div>
        </div>
    {{ form_end(search_form) }}

    {% for program in programs %}
        <div>
            <a href="{{ path('show_program', { 'programSlug': program.title }) }}">
                <h2>{{ loop.index }} / {{ program.title }}
                    - Catégorie : {{ program.category.name }}
                </h2>
            </a>
            <p>{{ program.synopsis }}</p>
            <ul>
                Acteurs :
                {% for actor in program.actors %}
                    <li>{{ actor.name }}</li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}

