{# templates/wild/show.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}{{ program.title }}{% endblock %}

{% block body %}{{ dump(season) }}{{ dump(program) }}{{ dump(episodes) }}

    <main class="container">
        <h1>{{ program.title }} | Season {{ season.number }}</h1>
        <div class="row row-cols-1 row-cols-md-3">
            {% for episode in episodes %}
                <p>{{ episode.title }}</p>
            {% endfor %}
        </div>

        <!-- Back to home -->
        <a href="{{ path('wild_index') }}">
            Retour à l'accueil
        </a>
    </main>

{% endblock %}
